@import "Assets/SCSS/Variable.scss";
@import "Assets/SCSS/Media.scss";

.cart__section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px 20px 100px;

  @include media(mobile) {
    grid-template-columns: 1fr;
    padding: 20px 10px;
    gap: 10px;
  }

  &__left-side {
    padding: 10px;
    background: rgba(218, 218, 218, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media(mobile) {
      background: #d9d9d9;
      box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #c7c7c7;
    }

    &-title__basket {
      color: white;
      font-size: 30px;
      font-weight: 300;
      margin-left: 10px;

      @include media(mobile) {
        color: #2a2a2a;
      }
    }

    &__cart_meal {
      padding: 10px 20px;
      background: rgba(58, 58, 58, 0.5);
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      color: white;

      @include media(mobile) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        background: #222831;
        box-shadow: 0px 0px 8px 0px #979797;
      }

      &__img-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @include media(mobile) {
          justify-content: start;
          align-items: flex-start;
        }

        &__title {
          font-size: 16px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 138px;

          @include media(mobile) {
            -webkit-line-clamp: 3;
            max-width: 200px;
          }
        }

        &__img {
          height: 50px;
          max-width: 50px;
          min-width: 50px;

          @include media(mobile) {
            height: 70px;
            max-width: 70px;
            min-width: 70px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__price-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;

        @include media(mobile) {
          justify-content: start;
        }

        &__right-side {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          &p {
            font-size: 20px;
          }

          &__minus-plus {
            font-weight: bold;
            width: 20px;
            height: 20px;
            background: aliceblue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            background: $color_lightgreen;

            &:hover {
              transform: scale(1.1);
            }

            &:active {
              background: white;
              color: black;
            }
          }
        }
      }
    }
  }
  .cart__section__right_side {
    background: white;
    padding: 10px;
    border-radius: 10px;
    height: max-content;

    &__form {
      &__check {
        display: flex;
        gap: 10px;
      }

      &__button {
        width: 100%;
        padding: 10px 0;
        background: rgb(44, 44, 255);
        border: none;
        border-radius: 10px;
        margin: 10px 0;
        color: white;
        font-style: 20px;
        font-weight: 300;
      }
    }

    &__total_price {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      color: rgb(0, 0, 0);
      font-size: 30px;
      font-weight: 300;
      padding: 10px 10px;
      border-bottom: 1px solid rgb(179, 179, 179);
      white-space: nowrap;

      &__price {
        font-size: 18px;
        color: rgb(185, 185, 185);
      }
    }
  }
}
