@import "~Assets/SCSS/Variable";
@import "Assets/SCSS/Media.scss";

.tabs__section {
  display: flex;
  background: #eeeeee;
  justify-content: center;
  min-height: 47px;

  .tabs {
    position: relative;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: white;

    @include media(tablet) {
      overflow-y: hidden;
      overflow-x: overlay;
      font-size: 16px;

      &::-webkit-scrollbar {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        outline: none;
      }
    }

    .scroll__line {
      position: absolute;
      height: 5px;
      background: rgb(255, 0, 0);
      transition: 0.3s;
      bottom: 0;

      @include media(mobile) {
        height: 3px;
      }
    }

    .tab {
      color: black;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      font-weight: 400;
      cursor: pointer;

      // &__title {
      //   transition: 0.1s;
      // }

      &:hover {
        .tab__title {
          transform: scale(1.1);
        }
      }

      &.active {
        // transform: scale(1.1);
        // color: black;

        &:hover {
          .tab__title {
            transform: scale(1);
          }
        }
      }

      @include media(mobile) {
        padding: 5px 10px;
        &:hover {
          .tab__title {
            transform: none;
          }
        }
        &.active {
          transform: none;

          &:hover {
            .tab__title {
              transform: none;
            }
          }
        }
      }
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.container {
  max-width: 1281px;
  margin: 0 auto;

  @include media(tablet) {
    max-width: 850px;
  }

  @include media(mobile) {
    max-width: 350px;
  }
}

.read__description__link {
  color: white;
  margin-left: 20px;
  font-size: 18px;

  &:hover {
    color: $color_lightgreen;
  }
}
