@import "~Assets/SCSS/Variable";
@import "Assets/SCSS/Media.scss";

.tabs__section {
  display: flex;
  background: #eeeeee;
  justify-content: center;
  min-height: 47px;

  .tabs {
    position: relative;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: 0.5s;

    @include media(mobile) {
      overflow-y: hidden;
      overflow-x: scroll;
      font-size: 16px;
    }

    .scroll__line {
      position: absolute;
      height: 5px;
      background: rgb(255, 0, 0);
      transition: 0.3s;
      bottom: 0;

      @include media(mobile) {
        height: 3px;
      }
    }

    .tab {
      color: black;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      font-weight: 400;
      cursor: pointer;
      transition: 0.5s;

      @include media(mobile) {
        padding: 5px 15px;
      }

      &__title {
        transition: 0.1s;
      }

      &:hover {
        .tab__title {
          transform: scale(1.1);
        }
      }

      &.active {
        transform: scale(1.1);
        color: black;

        &:hover {
          .tab__title {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.container {
  max-width: 1281px;
  margin: 0 auto;

  @media screen and (max-width: 990px) {
    & {
      max-width: 850px !important;
      margin: 0 auto;
    }
  }
}

.read__description__link {
  color: white;
  margin-left: 20px;
  font-size: 18px;

  &:hover {
    color: $color_lightgreen;
  }
}
