@import "~Assets/SCSS/Variable";

.tabs__section {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  margin-bottom: 10px;
  min-height: 62px;

  .tabs {
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: 0.5s;

    @media screen and (max-width: 1145px) {
      & {
        overflow-x: scroll;
        font-size: 18px;

        &::-webkit-scrollbar {
          height: 5px;
        }

        &::-webkit-scrollbar-track {
          background: rgb(65, 65, 65);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgb(51, 51, 51);
          outline: none;
        }
      }
    }

    .scroll__line {
      position: absolute;
      height: 5px;
      background: $color_lightgreen;
      transition: 0.7s;
    }

    .tab {
      padding: 15px 30px;
      display: flex;
      font-weight: 300;
      cursor: pointer;

      &.active {
        color: $color_lightgreen;

        &:hover {
          background-color: transparent;

          .tab__title {
            color: $color_lightgreen;
          }
        }
      }

      &:hover {
        color: $color_lightgreen;
      }
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: 990px) {
    & {
      max-width: 850px !important;
      margin: 0 auto !important;
    }
  }
}

.read__description__link {
  color: white;
  margin-left: 20px;
  font-size: 18px;

  &:hover {
    color: $color_lightgreen;
  }
}
