@import "~Assets/SCSS/Variable";

.change_color {
  color: $color_lightgreen;
}

.tabs__meals__Section--two_Columns {
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 10px;

  .meal {
    flex-direction: row;
    justify-content: start;
    align-items: end;
    background: rgba(94, 94, 94, 0.4);
    padding: 5px;
    min-height: 160px !important;
    max-height: 160px !important;

    .meal__img {
      height: 150px;
      width: 150px;

      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.search_bar {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;

  &__box {
    background: rgba(255, 255, 255);
    transition: 0.3s all;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 40px;

    &__label {
      color: black;
      display: flex;
      align-items: center;
      padding-left: 10px;
      width: 100%;

      i {
        font-size: 15px;
      }

      &__input {
        width: 300px;
        padding-left: 20px;
        background: transparent;
        color: black;
        outline: none;
        border: none;
      }
    }
  }

  &__right_side {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, 60%);
    padding: 3px 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &__list_icon {
      transition: 0.5s;
      &:hover {
        color: $color_lightgreen;
        transform: rotate(360deg);
      }
    }
  }
}
