@import "~Assets/SCSS/Variable";

.change_color {
  color: #00adb5;
}



.search_bar {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__section {
    background: #393e46;
  }

  &__box {
    background: rgba(255, 255, 255);
    transition: 0.3s all;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 30px;

    &__label {
      color: black;
      display: flex;
      align-items: center;
      padding-left: 10px;
      width: 100%;

      i {
        font-size: 15px;
      }

      &__input {
        width: 300px;
        padding-left: 20px;
        background: transparent;
        color: black;
        outline: none;
        border: none;
      }
    }
  }

  &__right_side {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 10px;

    &__list_icon {
      transition: 0.5s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

.disable_meals {
  display: flex;
  font-size: 150px;
  color: gray;
}
