@import "Assets/SCSS/Variable.scss";
@import "Assets/SCSS/Media.scss";

:root {
  --cor-background: #212123;
  --cor-reflexo: rgba(255, 255, 255, 0.4);
  --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217),
    rgb(255, 45, 83);
}

.signin__btn {
  background: rgb(4, 153, 240);
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(4, 153, 240);
  }
}

.log_in_section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;

  &__mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;

    @include media(mobile) {
      display: flex;
    }

    &__logo__box {
      max-width: 93px;
      height: 50px !important;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__menu_icon {
      transition: 0.3s;
      z-index: 99999;

      &.active_menu_icon {
        transform: rotate(90deg);
      }
    }
  }

  &__mobile__modal {
    transition: 0.5s all;
    display: none;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    z-index: 9999;
    background: #222831;
    top: 0;
    left: 554px;
    height: 100vh;
    overflow: hidden;

    @include media(mobile) {
      display: flex;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 50px 0 10px;
    }
    &__buttons {
      display: flex;
      gap: 10px;
      align-items: center;

      .conteudo {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, var(--cores-dancantes));
        border-radius: 5px;
        animation: coresDancantes 2s linear infinite;
        padding: 2px;
        border-radius: 5px;
      }
    }
  }

  &__left_side {
    display: flex;
    align-items: center;
    gap: 40px;

    @include media(mobile) {
      display: none;
    }

    &__logo__box {
      transition: 0.3s all;
      height: 60px;

      &__logo {
        width: 100%;
        height: 100%;
      }
    }

    nav {
      display: flex;
      align-items: center;
      gap: 20px;

      @include media(mobile) {
        display: none;
      }
    }
  }

  &__wraper {
    width: 100vw;
    position: fixed;
    padding: 10px 0;
    top: 0;
    z-index: 99999;
    transition: 0.3s;
    background: #222831;

    @include media(mobile) {
      padding: 5px 0;
    }

    &.smallHeader {
      padding: 0;

      .logo__box {
        height: 50px;
      }
    }
  }

  &__right_side {
    display: flex;
    align-items: center;
    gap: 10px;

    @include media(mobile) {
      display: none;
    }

    .conteudo {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, var(--cores-dancantes));
      border-radius: 5px;
      animation: coresDancantes 2s linear infinite;
      padding: 2px;
      border-radius: 5px;

      &__log_in {
        &:hover {
          background: rgba(0, 0, 0, 0.548) !important;
        }
      }
    }

    &__sign_in {
      &:hover {
        background: rgb(0, 0, 190) !important;
      }
    }

    &__cart__btn {
      position: relative;
      border: 2px solid white;
      display: flex;
      min-height: 34px;
      justify-content: center;
      align-items: center;

      &__cart_quantity {
        position: absolute;
        font-family: sans-serif;
        bottom: -6px;
        right: -6px;
        padding: 0px 3px;
        color: #000;
        font-size: 11px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@keyframes coresDancantes {
  100% {
    filter: hue-rotate(360deg);
  }
}

.disable {
  display: none !important;
}
// .active {
//   display: flex !important;
// }
.active_modal {
  left: 0;
}
