@import "Assets/SCSS/Variable.scss";

.btn__styles {
  font-size: 16px;
  font-weight: initial;
  padding: 0 10px;
  height: 36px;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none !important  ;
}

.login__btn {
  background: $color_lightgreen;
  &:hover {
    box-shadow: 0px 0px 10px 0px $color_lightgreen;
  }
}

.signin__btn {
  background: rgb(4, 153, 240);
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(4, 153, 240);
  }
}

.add_buy__btns {
  display: none;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .add_btn {
    background: transparent;
    color: yellow;
    border: 2px dashed yellow;
    white-space: nowrap;

    &.disabled {
      opacity: 0.4;
      cursor: default;

      &:hover {
        color: yellow;
        border: 2px dashed yellow;
      }
    }

    &:hover {
      color: white;
      border: 2px dashed rgb(255, 255, 255);
    }

    &:active {
      color: yellow;
      border: 2px dashed yellow;
    }
  }

  .buy_btn {
    white-space: nowrap;
    color: black;
  }
}

.log_in_section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wraper {
    width: 100vw;
    position: fixed;
    padding: 10px 0;
    top: 0;
    z-index: 99999;
    transition: 0.3s;

    &.smallHeader {
      background: rgb(0, 0, 0);
      padding: 0;

      .logo__box {
        height: 50px;
      }
    }
  }

  .log_in_left_side {
    display: flex;
    align-items: center;
    gap: 40px;

    nav {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .btn_group_box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;

    .cart__btn {
      position: relative;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;

      .cart_quantity {
        position: absolute;
        font-family: sans-serif;
        bottom: -6px;
        right: -6px;
        padding: 0px 3px;
        color: #000;
        font-size: 11px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .logo__box {
    transition: 0.3s all;
    height: 60px;
  }

  .logo {
    width: 100%;
    height: 100%;
  }
}
