code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(80, 5, 49, 0.2), rgba(255, 0, 0, 0.2)),
    url("../src/Assets/img/restaurant.webp");

  background-color: rgba(0, 0, 0, 0.329);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
  font-family: "Raleway", sans-serif;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(65, 65, 65);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  outline: none;
}

p {
  margin-top: initial;
  margin-bottom: initial;
}

a {
  color: #fff !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main__container {
  min-height: 100vh;
  margin-top: 80px;
}
